* {
    margin:0;
    padding:0;
    box-sizing: border-box;
    outline: 0;
    border: 0;
    background-color: transparent;
    font-family: Helvetica, Times, serif;
    -webkit-font-smoothing: antialiased;
}
a {
    text-decoration: none;
    color: inherit;
}
a:focus {
    color: inherit;
}
